::-webkit-scrollbar { width: 0px; height: 0px; }

/* Wait for <https://github.com/The-Compiler/qutebrowser/issues/27>

html {
   color: #CACACA;
   background-color: #1C1C1C;
   font-family: monospace;
}

body table { background: #1C1C1C; }
body table td { background: #1C1C1C !important; }
body table th { background: #121212 !important; }

*/

.tlistname {
   font-family: berry, WenQuanYi Bitmap Song, Kochi Gothic, NanumGothic, monospace !important;
   font-weight: normal;
   font-size: 8px;
}
